# Lending Club Dataset

## Feature pipeline

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.float', '{:.2f}'.format)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [16]:
# Read the CSV file
df = pd.read_csv('/home/trent/github/hopsworks_spy_forecast/data/all_processed_5.csv', index_col=0)

# Add a unique identifier to each row
df['id'] = range(1, len(df) + 1)

# Display the first few rows of the DataFrame
df.head()

,close_0,ema_0,high_0,low_0,open_0,rsi_0,sma_0,volume_0,close_1,ema_1,high_1,low_1,open_1,rsi_1,sma_1,volume_1,close_2,ema_2,high_2,low_2,open_2,rsi_2,sma_2,volume_2,close_3,ema_3,high_3,low_3,open_3,rsi_3,sma_3,volume_3,close_4,high_4,low_4,open_4,id
0,1.55,0.36,-0.04,0.69,0.03,1.35,0.15,-0.61,-0.59,1.31,-0.06,0.40,1.72,-1.12,1.15,-0.48,2.16,-1.80,-0.01,1.93,2.72,2.30,-2.19,-0.20,0.53,-2.17,-0.04,1.52,0.90,2.27,-2.42,0.65,-0.94,0.44,-0.85,-0.58,1
1,-0.59,1.31,-0.06,0.40,1.72,-1.12,1.15,-0.48,2.16,-1.80,-0.01,1.93,2.72,2.30,-2.19,-0.20,0.53,-2.17,-0.04,1.52,0.90,2.27,-2.42,0.65,-0.94,-0.41,0.44,-0.85,-0.58,-0.44,-0.68,-1.12,-1.00,-1.74,-2.07,-3.31,2
2,2.16,-1.80,-0.01,1.93,2.72,2.30,-2.19,-0.20,0.53,-2.17,-0.04,1.52,0.90,2.27,-2.42,0.65,-0.94,-0.41,0.44,-0.85,-0.58,-0.44,-0.68,-1.12,-1.00,0.77,-1.74,-2.07,-3.31,-1.86,0.32,1.80,-0.94,-1.17,-1.68,-2.36,3
3,0.53,-2.17,-0.04,1.52,0.90,2.27,-2.42,0.65,-0.94,-0.41,0.44,-0.85,-0.58,-0.44,-0.68,-1.12,-1.00,0.77,-1.74,-2.07,-3.31,-1.86,0.32,1.80,-0.94,1.83,-1.17,-1.68,-2.36,-2.66,1.49,-0.30,-0.12,0.70,-0.30,0.82,4
4,-0.94,-0.41,0.44,-0.85,-0.58,-0.44,-0.68,-1.12,-1.00,0.77,-1.74,-2.07,-3.31,-1.86,0.32,1.80,-0.94,1.83,-1.17,-1.68,-2.36,-2.66,1.49,-0.30,-0.12,1.62,0.70,-0.30,0.82,-1.56,1.75,-1.10,0.73,-1.10,0.19,-1.36,5

In [7]:
df.describe()

,close_0,ema_0,high_0,low_0,open_0,rsi_0,sma_0,volume_0,close_1,ema_1,high_1,low_1,open_1,rsi_1,sma_1,volume_1,close_2,ema_2,high_2,low_2,open_2,rsi_2,sma_2,volume_2,close_3,ema_3,high_3,low_3,open_3,rsi_3,sma_3,volume_3,close_4,high_4,low_4,open_4
count,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00,96618.00
mean,-0.06,0.11,-0.05,-0.07,-0.06,0.02,0.05,0.39,-0.06,0.11,-0.05,-0.07,-0.06,0.02,0.05,0.40,-0.06,0.11,-0.05,-0.07,-0.06,0.02,0.05,0.39,-0.06,0.11,-0.05,-0.07,-0.06,0.02,0.05,0.39,-0.06,-0.05,-0.07,-0.06
std,1.98,3.55,2.16,2.01,2.02,2.21,3.68,16.33,1.97,3.55,2.15,2.01,2.02,2.21,3.68,16.33,1.97,3.55,2.15,2.01,2.02,2.21,3.68,16.33,1.97,3.55,2.16,2.01,2.02,2.21,3.68,16.33,1.98,2.16,2.01,2.02
min,-167.41,-66.34,-197.47,-139.18,-235.93,-50.95,-25.10,-17.18,-167.41,-66.34,-197.47,-139.18,-235.93,-50.95,-21.83,-17.18,-167.41,-66.34,-197.47,-139.18,-235.93,-50.95,-21.83,-17.18,-167.41,-66.34,-197.47,-139.18,-235.93,-50.95,-21.83,-17.18,-167.41,-197.47,-139.18,-235.93
25%,-0.93,-1.23,-0.93,-0.92,-0.93,-1.23,-1.34,-0.85,-0.93,-1.23,-0.93,-0.92,-0.93,-1.23,-1.34,-0.85,-0.93,-1.23,-0.93,-0.92,-0.93,-1.23,-1.34,-0.85,-0.93,-1.23,-0.93,-0.92,-0.93,-1.23,-1.34,-0.85,-0.93,-0.93,-0.92,-0.93
50%,-0.03,-0.02,-0.04,-0.02,-0.01,0.13,-0.09,-0.24,-0.03,-0.02,-0.04,-0.02,-0.01,0.13,-0.09,-0.24,-0.03,-0.02,-0.04,-0.02,-0.01,0.13,-0.09,-0.24,-0.03,-0.02,-0.04,-0.02,-0.01,0.13,-0.09,-0.24,-0.03,-0.04,-0.02,-0.01
75%,0.85,1.28,0.85,0.86,0.85,1.40,1.29,0.73,0.85,1.28,0.85,0.86,0.85,1.40,1.29,0.73,0.85,1.28,0.85,0.86,0.85,1.40,1.29,0.73,0.85,1.28,0.85,0.86,0.85,1.40,1.29,0.73,0.85,0.85,0.86,0.85
max,38.23,516.39,64.29,49.16,40.72,36.57,501.73,3165.21,38.23,516.39,64.29,49.16,40.72,36.57,501.73,3165.21,38.23,516.39,64.29,49.16,40.72,36.57,501.73,3165.21,38.23,516.39,64.29,49.16,40.72,36.57,501.73,3165.21,38.23,64.29,49.16,40.72

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96618 entries, 0 to 5444
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   close_0   96618 non-null  float64
 1   ema_0     96618 non-null  float64
 2   high_0    96618 non-null  float64
 3   low_0     96618 non-null  float64
 4   open_0    96618 non-null  float64
 5   rsi_0     96618 non-null  float64
 6   sma_0     96618 non-null  float64
 7   volume_0  96618 non-null  float64
 8   close_1   96618 non-null  float64
 9   ema_1     96618 non-null  float64
 10  high_1    96618 non-null  float64
 11  low_1     96618 non-null  float64
 12  open_1    96618 non-null  float64
 13  rsi_1     96618 non-null  float64
 14  sma_1     96618 non-null  float64
 15  volume_1  96618 non-null  float64
 16  close_2   96618 non-null  float64
 17  ema_2     96618 non-null  float64
 18  high_2    96618 non-null  float64
 19  low_2     96618 non-null  float64
 20  open_2    96618 non-null  float64
 21  rsi_2     96618 non-null  float64
 22  sma_2     96618 non-null  float64
 23  volume_2  96618 non-null  float64
 24  close_3   96618 non-null  float64
 25  ema_3     96618 non-null  float64
 26  high_3    96618 non-null  float64
 27  low_3     96618 non-null  float64
 28  open_3    96618 non-null  float64
 29  rsi_3     96618 non-null  float64
 30  sma_3     96618 non-null  float64
 31  volume_3  96618 non-null  float64
 32  close_4   96618 non-null  float64
 33  high_4    96618 non-null  float64
 34  low_4     96618 non-null  float64
 35  open_4    96618 non-null  float64
dtypes: float64(36)
memory usage: 27.3 MB

# Feature Engineering

## âœ”ï¸ `dti`, `open_acc`, `revol_bal`, `revol_util`, & `total_acc`

> - `dti`: A ratio calculated using the borrowerâ€™s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowerâ€™s self-reported monthly income.
> - `open_acc`: The number of open credit lines in the borrower's credit file.
> - `revol_bal`: Total credit revolving balance
> - `revol_util`: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
> - `total_acc`: The total number of credit lines currently in the borrower's credit file

# ðŸ”„ Data PreProcessing

**Section Goals:** 
> - Remove or fill any missing data. 
> - Remove unnecessary or repetitive features. 
> - Convert categorical string features to dummy variables.

Realistically there are too many unique job titles to try to convert this to a dummy variable feature. Let's remove that emp_title column.

Charge off rates are extremely similar across all employment lengths. So we are going to drop the `emp_length` column.

The title column is simply a string subcategory/description of the purpose column. So we are going to drop the title column.

### `mort_acc`

There are many ways we could deal with this missing data. We could attempt to build a simple model to fill it in, such as a linear model, we could just fill it in based on the mean of the other columns, or you could even bin the columns into categories and then set NaN as its own category. There is no 100% correct approach!

Let's try the fillna() approach. We will group the dataframe by the total_acc and calculate the mean value for the mort_acc per total_acc entry. To get the result below:

### `revol_util` & `pub_rec_bankruptcies`
These two features have missing data points, but they account for less than 0.5% of the total data. So we are going to remove the rows that are missing those values in those columns with dropna().

## ðŸ§® Categorical Variables

### `term`

### `grade` & `sub_grade`

We know that `grade` is just a sub feature of `sub_grade`, So we are goinig to drop it.

### `address`
We are going to feature engineer a zip code column from the address in the data set. Create a column called 'zip_code' that extracts the zip code from the address column.

### `issue_d` 

This is the event_time for the loan being issued

### `earliest_cr_line`
This appears to be a historical time stamp feature. Extract the year from this feature using a `.apply()` function, then convert it to a numeric feature.

In [10]:
from great_expectations.core import ExpectationSuite, ExpectationConfiguration

expectation_suite = ExpectationSuite(
    expectation_suite_name="transaction_suite")

expectation_suite.add_expectation(
    ExpectationConfiguration(
        expectation_type="expect_column_values_to_be_between",
        kwargs={
            "column":"open_0", 
            "min_value":"-1000.0",
            "max_value":"1000.0",
        }
    )
)

# TODO: Add more expectations here to improve data validation checks

{"expectation_type": "expect_column_values_to_be_between", "meta": {}, "kwargs": {"column": "open_0", "min_value": "-1000.0", "max_value": "1000.0"}}

## ðŸ”– Hopsworks Feature Store

In [9]:
import hopsworks

project = hopsworks.login()
fs = project.get_feature_store()

Copy your Api Key (first register/login): https://c.app.hopsworks.ai/account/api/generated
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/38123
Connected. Call `.close()` to terminate connection gracefully.

In [17]:
df_fg = fs.get_or_create_feature_group(name="historical_data",
                                    version=1,
                                    description="Historical Data of Various Equities",
                                    online_enabled=True,
                                    primary_key=['id'],
                                    #event_time='issue_d',
                                    expectation_suite=expectation_suite
)

### Configure upload batch size for performance (latency vs throughput)

```
loans_fg.insert(loans_df, write_options={"wait_for_job" : False},         
    "kafka_producer_config": {
        "linger.ms": 20,
        "batch.size": 1000000,
        "acks": 1,
        "max.in.flight.requests.per.connection": 5,
        "message.max.bytes": 2000000,
        "batch.num.messages": 200000,
        "buffer.memory": 335544320,
        "queue.buffering.max.messages": 10000000,
        "debug": "broker,topic,msg,queue"
        } 
```

In [19]:
import time
start_time = time.time()
df_fg.insert(df, write_options={"wait_for_job" : False})
print("Upload time %s seconds ---" % (time.time() - start_time))

2023-05-01 10:47:24,639 INFO: 	1 expectation(s) included in expectation_suite.
Validation Report saved successfully, explore a summary at https://c.app.hopsworks.ai:443/p/38123/fs/38017/fg/41963

Uploading Dataframe: 0.00% |          | Rows 0/96618 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/38123/jobs/named/historical_data_1_offline_fg_backfill/executions
Upload time 49.37422704696655 seconds ---

In [40]:
column_names = df.columns

# Create an empty list for metadata
metadata_list = []

# Iterate through the column names of the original DataFrame
for col_name in column_names:
    if col_name != 'id':
        # Split the column name by '_'
        split_col_name = col_name.split('_')
        
        # Create the description using the split column name
        description = f"The {split_col_name[0]} price {split_col_name[1]} days before current day"
        
        # Add the dictionary to the metadata list
        metadata_list.append({'name': col_name, 'description': description})

# Display the metadata list
print(metadata_list)

[{'name': 'close_0', 'description': 'The close price 0 days before current day'}, {'name': 'ema_0', 'description': 'The ema price 0 days before current day'}, {'name': 'high_0', 'description': 'The high price 0 days before current day'}, {'name': 'low_0', 'description': 'The low price 0 days before current day'}, {'name': 'open_0', 'description': 'The open price 0 days before current day'}, {'name': 'rsi_0', 'description': 'The rsi price 0 days before current day'}, {'name': 'sma_0', 'description': 'The sma price 0 days before current day'}, {'name': 'volume_0', 'description': 'The volume price 0 days before current day'}, {'name': 'close_1', 'description': 'The close price 1 days before current day'}, {'name': 'ema_1', 'description': 'The ema price 1 days before current day'}, {'name': 'high_1', 'description': 'The high price 1 days before current day'}, {'name': 'low_1', 'description': 'The low price 1 days before current day'}, {'name': 'open_1', 'description': 'The open price 1 days before current day'}, {'name': 'rsi_1', 'description': 'The rsi price 1 days before current day'}, {'name': 'sma_1', 'description': 'The sma price 1 days before current day'}, {'name': 'volume_1', 'description': 'The volume price 1 days before current day'}, {'name': 'close_2', 'description': 'The close price 2 days before current day'}, {'name': 'ema_2', 'description': 'The ema price 2 days before current day'}, {'name': 'high_2', 'description': 'The high price 2 days before current day'}, {'name': 'low_2', 'description': 'The low price 2 days before current day'}, {'name': 'open_2', 'description': 'The open price 2 days before current day'}, {'name': 'rsi_2', 'description': 'The rsi price 2 days before current day'}, {'name': 'sma_2', 'description': 'The sma price 2 days before current day'}, {'name': 'volume_2', 'description': 'The volume price 2 days before current day'}, {'name': 'close_3', 'description': 'The close price 3 days before current day'}, {'name': 'ema_3', 'description': 'The ema price 3 days before current day'}, {'name': 'high_3', 'description': 'The high price 3 days before current day'}, {'name': 'low_3', 'description': 'The low price 3 days before current day'}, {'name': 'open_3', 'description': 'The open price 3 days before current day'}, {'name': 'rsi_3', 'description': 'The rsi price 3 days before current day'}, {'name': 'sma_3', 'description': 'The sma price 3 days before current day'}, {'name': 'volume_3', 'description': 'The volume price 3 days before current day'}, {'name': 'close_4', 'description': 'The close price 4 days before current day'}, {'name': 'high_4', 'description': 'The high price 4 days before current day'}, {'name': 'low_4', 'description': 'The low price 4 days before current day'}, {'name': 'open_4', 'description': 'The open price 4 days before current day'}]

## Update the description of any features found in the data dictionary

Loop through the datadict. For each entry, if there is a corresponding feature in the feature group, update its description

In [44]:
for desc in metadata_list: 
    df_fg.update_feature_description(desc["name"], desc["description"])